<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Seri Padi De Cabin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Jun 14 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex flex-sm-row-reverse flex-lg-row align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Seri Padi De Cabin</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#book-a-table">Book a Table</a></li>
          <li><a href="#contact">Contact</a></li>

          <% if (typeof user !=='undefined' && user) { %>
          <% if(user.ROLE === 'ADMIN') {  %>
          <li><a href="/users/admin_page">Admin Dashboard</a></li>
          <% } else { %>
          <li><a href="/users/bookings_page">My Bookings</a></li>
          <% } %>
          <% } else { %>
          <li><a href="/users/bookings_page">My Bookings</a></li>
          <% } %>
          <!-- <li><a href="/users/bookings_page">My Bookings</a></li> -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <% if (typeof user !=='undefined' && user) { %>
      <!-- Render content for logged-in user -->
      <div>
        <span class="mx-lg-4 mb-4">Welcome, <%= user.NAME %>!</span>
        <button class="btn-getstarted" id="logoutButton">Logout</button>
      </div>
      <% } else { %>
      <!-- Render content for guest users -->
      <div>
        <span class="mx-lg-4 mb-4">Welcome, Guest!</span>
        <a class="btn-getstarted" href="#book-a-table">Login</a>
      </div>
      <% } %>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Delicious Halal Thai-Style Food</h1>
            <h3 class="my-4" data-aos="fade-up"> Located in Malacca</h3>
            <!-- <p data-aos="fade-up" data-aos-delay="100">We are team of talented designers making websites with Bootstrap</p> -->
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#book-a-table" class="btn-get-started">Book a Table Now</a>
              <a href="https://www.instagram.com/seripadi_decabin/" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-instagram"></i><span>Our
                  Instagram</span></a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="assets/img/seri-padi/view_2.jpeg" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p><span>Learn More</span> <span class="description-title">About Us</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/seri-padi/view_1.jpeg" class="img-fluid mb-4" alt="">
            <div class="book-a-table">
              <h3>Call Us</h3>
              <p>017-324 4866</p>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Located in the historical city of Malacca...
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Muslim ownership and operation.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Perfect ambience and family-friendly.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Special requests for special occassions
                    welcome.</span></li>
              </ul>
              <p>
                We are open daily from 6:00 p.m. to 2:00 a.m.
              </p>

              <div class="position-relative mt-4">
                <!-- <img src="assets/img/about-2.jpg" class="img-fluid" alt=""> -->
                <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section 
    <section id="why-us" class="why-us section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Yummy</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Duis aute irure dolor in reprehenderit
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad
                corporis.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Corporis voluptates officia eiusmod</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div>

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Ullamco laboris ladore lore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div>

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Labore consequatur incidid dolore</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section> /Why Us Section -->

    <!-- Stats Section 
    <section id="stats" class="stats section">

      <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item 

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item 

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item 

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item 

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Special Featured</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <!-- <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-desserts">
              <h4>Desserts</h4>
            </a> -->
          </li><!-- End tab nav item -->

          <!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Breakfast</h4>
            </a>

          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Lunch</h4>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Dinner</h4>
            </a>
          </li>End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner Menu</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-1.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Somtam</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price">
                  $5.95
                </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-2.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Ikan Siakap Tiga Rasa</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price">
                  $14.95
                </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-3.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Bihun Celup</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price">
                  $8.95
                </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-4.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Sotong Goreng Tepung</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price">
                  $12.95
                </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-5.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Kerabu Maggie</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price">
                  $12.95
                </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-6.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-6.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Kuey Tiow Celup</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price"> -->
                <!-- $9.95 -->
                <!-- </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-7.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-7.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Cendawan Tepung Celup</h4>
                <!-- <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p> -->
                <!-- <p class="price"> -->
                <!-- $9.95 -->
                <!-- </p> -->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-8.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-8.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Nasi Goreng Seafood</h4>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-9.jpeg" class="glightbox"><img src="assets/img/menu/menu-item-9.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Kerabu Udang</h4>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-desserts">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Breakfast</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Lunch</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>

    </section><!-- /Menu Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <!-- <h2>OUR HAPPY CUSTOMERS</h2> -->
        <p>Our <span class="description-title">Happy</span> Customers</p>
      </div><!-- End Section Title -->

      <!-- <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                          Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
                          semper.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                          eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim
                          culpa.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                          duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                          minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore
                          illum veniam.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div> -->

    </section><!-- /Testimonials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <!-- <div class="swiper-slide event-item d-flex flex-column justify-content-end"
              style="background-image: url(assets/img/events-1.jpg)">
              <h3>Custom Parties</h3>
              <div class="price align-self-start">$99</div>
              <p class="description">
                Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim
                facilis veritatis id est rem repudiandae nulla expedita quas.
              </p>
            </div> -->
            <!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/seri-padi/happy_1.jpeg)">
              <!-- <h3>Private Parties</h3>
              <div class="price align-self-start">$289</div>
              <p class="description">
                In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut
                dolores ea assumenda et. Delectus saepe accusamus aspernatur.
              </p> -->
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/seri-padi/happy_2.jpeg)">
              <!-- <h3>Birthday Parties</h3>
              <div class="price align-self-start">$499</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam
                ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p> -->
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/seri-padi/happy_3.jpeg)">
              <!-- <h3>Wedding Parties</h3>
              <div class="price align-self-start">$899</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam
                ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p> -->
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/seri-padi/happy_4.jpeg)">
              <!-- <h3>Wedding Parties</h3>
              <div class="price align-self-start">$899</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam
                ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p> -->
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Chefs Section 
    <section id="chefs" class="chefs section">

      
      <div class="container section-title" data-aos="fade-up">
        <h2>chefs</h2>
        <p><span>Our</span> <span class="description-title">Proffesional Chefs<br></span></p>
      </div>

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Master Chef</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                  exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Patissier</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                  Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cook</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                  architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>-->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Book A Table</h2>
        <p><span>Reserve Your </span> <span class="description-title">Table Today!<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">
            <% if (typeof user !=='undefined' && user) { %>
            <!-- Render content for logged-in user -->
            <div>
              <p class="mb-6">Hi, <%= user.NAME %>!</p>
              <h5 class="my-4">Summary of Bookings</h5>

              <div class="col-12" id="bookingSummaryList">

              </div>

              <% if (user.ROLE==="ADMIN" ) { %>
              <div class="my-4">
                <a href="/users/admin_page" class="fw-bold text-center">View Admin Dashboard</a>
              </div>
              <% } else { %>
              <a href="/users/bookings_page" class="my-2 text-center">Manage My Bookings</a>
              <% } %>

            </div>
            <% } else { %>

            <div class="login-container">
              <h4 class="my-4">Login</h4>
              <form id="loginForm">
                <div class="col-lg-6 form-group">
                  <label class="mb-2" for="username">Username:</label>
                  <input type="text" id="username" name="username" class="form-control"  maxlength="50" required>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="mb-2" for="password">Password:</label>
                  <input type="password" id="password" name="password" class="form-control"  maxlength="50" required>
                </div>
                <div>
                  <button class="book-a-table-login" type="submit">Login</button>
                  <div id="login-spinner" class="spinner-grow spinner-grow-sm text-danger mx-3" role="status">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div>
                  <a href="/users/register_page"><i class="bi bi-pencil-square text-danger"></i>   Register new account here </a>
                </div>
                <div class="row mt-4">
                  <a href="/users/forgot_password"><i class="bi bi-question-octagon-fill text-danger"></i>   Forgotten Password? </a>
                </div>
              </form>
              <p id="message"></p>
            </div>
            <% } %>
          </div>
          <div class="col-lg-6 d-flex flex-column align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
              <nav class="navmenu-custom m-4">
                <ul class="nav flex-row align-items-start">
                  <li class="nav-item">
                    <a id="new_booking_nav" class="nav-link custom-nav-link active" href="#new_booking">New Booking</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#view_booking">View Guest Booking</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div id="new_booking" class="section-content">
              <div class="row gy-4">
                <div class="col-lg-12 col-md-12">
                  <% if (typeof user !=='undefined' && user) { %>
                  <p class="mx-4"></p>
                  <% } else { %>
                  <p class="mx-4">Book a table as a guest now, and seamlessly link your reservation to your email
                    when you <a href="/users/register_page"> register an account with us. </a></p>
                  <% } %>
                </div>
              </div>
              <form class="php-email-form" id="guestBookForm">
                <div class="row gy-4">
                  <div class="col-lg-4 col-md-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"  maxlength="50" required="">
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"  maxlength="50" required="">
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"  maxlength="20"  required="">
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="remarks" rows="5" id="remarks"  maxlength="100" placeholder="Message"></textarea>
                </div>
                <div class="mb-3">
                  <div id="booking_loading" class="loading">Loading</div>
                  <div id="booking_err" class="error-message"></div>
                  <div id="booking_sent" class="sent-message">Your booking request was sent. We will call back or send
                    an Email to confirm
                    your reservation. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Book a Table</button></div>
              </form>
            </div>
            <!-- <div id="view_booking" class="section-content">
              <div class="row d-flex flex-column justify-content-center">
                <div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center">
                  <p class="align-self-center mt-2">View guest booking</p>
                </div>
                <div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center">
                  <input type="text" name="name" class="form-control my-4" id="name" placeholder="Booking ID" required="">
                </div>
                <div class="text-center"><button id="guest-booking-btn" class="book-a-table-login ">View Booking</button></div>
              </div>
            </div> -->
            <div id="view_booking" class="section-content">
              <div class="row d-flex flex-column justify-content-center">
                <div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center">
                  <p class="align-self-center mt-2">Enter Booking ID to check status. (Example: abcd1234)</p>
                </div>
                <div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center">
                  <input type="text" name="bookingId" class="form-control my-4" id="bookingId" maxlength="10" placeholder="Booking ID" required="">
                  <p class="align-self-center text-danger" id="bookingInputWrn" style="display:none;"><em>Please enter Booking ID</em></p>
                </div>
                <div class="text-center">
                  <button id="guest-booking-btn" class="book-a-table-login">View Booking</button>
                  <div id="guest-spinner" class="spinner-grow spinner-grow-sm text-danger mx-3" role="status" style="display: none;">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 mt-4">
                  <table id="bookingDetailsTable" class="table table-responsive" style="display: none;">
                    <thead>
                      <tr>
                        <th scope="col">Booking Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody id="bookingDetailsTableBody">
                    </tbody>
                  </table>
                  <div id="bookingNotFound" style="display: none;">
                    <p class="text-danger align-self-center"><em>No booking found for the provided ID.</em></p>
                  </div>
                </div>
              </div>
            </div>


          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p><span>Check</span> <span class="description-title">Our Gallery</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/happy_4.jpeg"><img src="assets/img/seri-padi/happy_4.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/view_1.jpeg"><img src="assets/img/seri-padi/view_1.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/happy_1.jpeg"><img src="assets/img/seri-padi/happy_1.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/view_2.jpeg"><img src="assets/img/seri-padi/view_2.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/happy_2.jpeg"><img src="assets/img/seri-padi/happy_2.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/view_3.jpeg"><img src="assets/img/seri-padi/view_3.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/seri-padi/happy_3.jpeg"><img src="assets/img/seri-padi/happy_3.jpeg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
          <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.2944521712094!2d102.31537742047918!3d2.1957071151454177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d1efa2d0d43953%3A0x72dc95c845a4f3bf!2sSeri%20Padi%20De%20Cabin!5e0!3m2!1sen!2smy!4v1719659576733!5m2!1sen!2smy" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Lot 1023 Mukim Kandang, Jalan Bukit Lintang, 75460 Ayer Molek, Melaka</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>017-324 4866</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-instagram flex-shrink-0"></i>
              <div>
                <h3>Our Instagram</h3>
                <a href="https://www.instagram.com/seripadi_decabin/">seripadi_decabin</a>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Opening Hours<br></h3>
                <p><strong>Mon-Sun:</strong> 6PM - 2AM</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form id="contactForm" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" id="msg_name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" id="msg_email" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" id="msg_content" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div id="msg_loading" class="loading">Loading</div>
              <div id="msg_error" class="error-message"></div>
              <div id="msg_sent" class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>Lot 1023 Mukim Kandang, Jalan Bukit Lintang, </p>
            <p>75460 Ayer Molek, Melaka</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>017-324 4866</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Monday-Sunday:</strong> <span>6PM - 2AM</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a> -->
            <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/seripadi_decabin/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p> <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const user = <%- JSON.stringify(user) %>;
      const loginSpinner = document.getElementById('login-spinner');
      if (loginSpinner) {
        loginSpinner.style.display = 'none';
      }

      if (user) {
        console.log(user);
        const bookForm = document.getElementById('guestBookForm');

        bookForm.elements['name'].value = user.NAME;
        bookForm.elements['email'].value = user.EMAIL;
        bookForm.elements['phone'].value = user.TEL_NO;
      } else {
        console.log('guest mode')
      }

      const navLinks = document.querySelectorAll('.nav-link');
      const sectionContents = document.querySelectorAll('.section-content');

      function showSection(sectionId) {
        sectionContents.forEach(content => {
          if (content.id === sectionId) {
            content.style.display = 'block';
          } else {
            content.style.display = 'none';
          }
        });
      }

      navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior

          // Get the href attribute to determine which section to show
          const sectionId = this.getAttribute('href').substring(1); // Remove the #

          navLinks.forEach(navLink => {
            navLink.classList.remove('active');
          });

          link.classList.add('active');

          // Show the corresponding section
          showSection(sectionId);
        });
      });

      showSection('new_booking');

      function displayBookings(bookings) {
        const bookingListElement = document.getElementById('bookingSummaryList');
        if (bookingListElement) {
          // Create table wrapper
          const tableWrapper = document.createElement('div');
          tableWrapper.setAttribute('class', 'table-wrapper');

          // Create table and table header
          const table = document.createElement('table');
          table.setAttribute('class', 'booking-table'); // Optional: add a class for styling

          const thead = document.createElement('thead');
          const headerRow = document.createElement('tr');

          const headers = ['Tracking', 'Name', 'Capacity', 'Status'];
          headers.forEach(headerText => {
            const th = document.createElement('th');
            th.textContent = headerText;
            headerRow.appendChild(th);
          });

          thead.appendChild(headerRow);
          table.appendChild(thead);

          const tbody = document.createElement('tbody');

          bookings.forEach(booking => {
            const row = document.createElement('tr');

            const dateCell = document.createElement('td');
            dateCell.textContent = booking.ID_BOOKING;
            row.appendChild(dateCell);

            const nameCell = document.createElement('td');
            nameCell.textContent = booking.BOOKING_NAME;
            row.appendChild(nameCell);

            const capacityCell = document.createElement('td');
            capacityCell.textContent = booking.BOOKING_PAX;
            row.appendChild(capacityCell);

            const statusCell = document.createElement('td');
            statusCell.textContent = getStatusText(booking.BOOKING_STATUS);
            row.appendChild(statusCell);

            tbody.appendChild(row);
          });

          table.appendChild(tbody);
          tableWrapper.appendChild(table); // Append table to the wrapper
          bookingListElement.appendChild(tableWrapper); // Append wrapper to the booking list element
        }
      }

      async function fetchBookings() {
        try {
          let response;
          if (user) {
            if (user.ROLE === "ADMIN") {
              response = await fetch('/bookings'); // Adjust the URL as per your API endpoint
            } else {
              console.log(user.EMAIL)
              response = await fetch(`/bookings/fetch_by_email/${user.EMAIL}`);
            }

            if (!response.ok) {
              throw new Error('Network response was not ok');
            }

            const tables = await response.json();
            return tables;
          } else {
            response = await fetch('/bookings')
            const bookings = await response.json();
            return bookings;
          }
        } catch (error) {
          throw new Error('Error fetching tables: ' + error.message);
        }
      }

      if (user) {
        fetchBookings().then(bookings => {
          console.log(bookings);
          // displayTables(tables);
          displayBookings(bookings);
        }).catch(error => {
          console.error('Error fetching and displaying bookings:', error);
          //Handle error display if needed
        });
      }

      const guestBookingBtn = document.getElementById('guest-booking-btn');
      const bookingIdInput = document.getElementById('bookingId');
      // const bookingDetailsDiv = document.getElementById('bookingDetails');
      const bookingDetailsTable = document.getElementById('bookingDetailsTable');
      const bookingDetailsTableBody = bookingDetailsTable.querySelector('#bookingDetailsTableBody');
      const bookingNotFoundDiv = document.getElementById('bookingNotFound');

      guestBookingBtn.addEventListener('click', async function() {

        document.getElementById('guest-spinner').style.display = 'inline-block';

        if (!bookingIdInput.value) {
          document.getElementById('bookingInputWrn').style.display = 'block';
          document.getElementById('guest-spinner').style.display = 'none';
          return
        } else {
          document.getElementById('bookingInputWrn').style.display = 'none';
        }

        const bookingId = bookingIdInput.value.trim();

        try {
          // Fetch the list of bookings (already fetched and stored as `bookingsList`)
          const bookingsList = await fetchBookings(); // Assuming you have a function fetchBookings() that fetches bookings

          // Find the booking with the provided ID
          const foundBooking = bookingsList.find(booking => booking.ID_BOOKING === bookingId);

          if (foundBooking) {
            document.getElementById('guest-spinner').style.display = 'none';
            console.log('heho - ' + foundBooking)
            // Display the booking details
            //   bookingDetailsDiv.innerHTML = `
            // <p><strong>Booking Name:</strong> ${foundBooking.BOOKING_NAME}</p>
            // <p><strong>Date:</strong> ${new Date(foundBooking.BOOKING_DATE).toLocaleDateString()}</p>
            // <p><strong>Capacity:</strong> ${foundBooking.BOOKING_PAX}</p>
            // <p><strong>Status:</strong> ${getStatusText(foundBooking.BOOKING_STATUS)}</p>
            // `;
            bookingDetailsTableBody.innerHTML = `
          <tr>
            <td>${foundBooking.BOOKING_NAME}</td>
            <td>${new Date(foundBooking.BOOKING_DATE).toLocaleDateString()}</td>
            <td>${foundBooking.BOOKING_PAX}</td>
            <td>${getStatusText(foundBooking.BOOKING_STATUS)}</td>
          </tr>
        `;
            bookingDetailsTable.style.display = 'block';
            bookingNotFoundDiv.style.display = 'none';
          } else {
            // Display message for no booking found
            bookingDetailsTable.innerHTML = '';
            bookingNotFoundDiv.style.display = 'block';
            document.getElementById('guest-spinner').style.display = 'none';
          }
        } catch (error) {
          console.error('Error fetching or processing bookings:', error);
          // Handle error fetching bookings
        }
      });

      // Helper function to get status text based on status code
      function getStatusText(statusCode) {
        switch (statusCode) {
          case 'N':
            return 'New';
          case 'C':
            return 'Confirmed';
          case 'X':
            return 'Cancelled';
          default:
            return 'Unknown';
        }
      }

    });
  </script>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="js/formActions.js" type="module"></script>
  <script src="js/bookings_page.js"></script>
</body>

</html>